<link rel="stylesheet" href="~/css/form.css" />

<h2>Admin Paneline Hoş Geldiniz!</h2>
<!-- admin Listesi Formu -->
<form class="form-container" method="post" action="AdminListesi">

    <button class="form-button" type="submit">Admin Listesi</button>
</form>
<!-- admin ekle Formu -->
<form class="form-container" method="post" action="AdminEkle">

    <button class="form-button" type="submit">Admin Ekle</button>
</form>

<!-- Müşteri Listesi Formu -->
<form class="form-container" method="post" action="MusteriListesi">
    
   
<button class="form-button" type="submit">Müşteri Listesi</button>

</form>






