<link rel="stylesheet" href="~/css/site.css" />
<div class="whatsappDiv"> <a href="https://wa.me/+905524685681"> <img  class="whatsapResim" src="../img/whatsapp.jpg"/></a>
   
  </div>

  
  <section class="carousel">
      <div>
          <h1>
              ENGİN Mimarlık
          </h1>
      <br/>
      <br/>
          <h2>
              Her Binanın Bir Hikayesi Vardır, Biz O Hikayeyi Yazıyoruz.
          </h2>
      </div>
  </section>

  