<link rel="stylesheet" href="~/css/site.css" />
<footer style="width: 100%;" >
    <div class="col3">
        <span>Bize Ulaşın</span>
        <p></i>istanbul Beşiktaş/Engin Mimarlık</p>
        <p></i>+(90) 5524685681</p>
        <p></i>aks-34@hotmail.com</p>
    </div>
    
    <div class="col3">
        <span>Hizmetler</span>
        <p>İnşaat</p>
        <p>Proje</p>
        <p>Takip</p>
    </div>
</footer>
