@{
    ViewData["Title"] = "Home Page";
}
<section class="ContentAndFoto">
    <div class="col2">
        <div class="TitleAndContent">
            <h2>Mimarlık, hayallerimizi gerçeğe dönüştürür.</h2>
            <p>Mimarlık, insanlığın en eski ve en önemli sanat dallarından biridir. İnsanoğlunun ilk yerleşim yerlerinden günümüzün modern şehirlerine kadar mimarlık, insanlığın yaşamını şekillendiren bir unsur olmuştur. Mimarlık, sadece yapıları inşa etmekle kalmaz, aynı zamanda toplumların kültürünü, değerlerini ve yaşam biçimlerini de yansıtır.

                Mimarlık, hayallerimizi gerçeğe dönüştürür. Mimarların hayal gücü ve yaratıcılığı, yeni ve özgün yapılar ortaya çıkarmasına olanak tanır. Mimari tasarımlar, insanların hayallerini ve beklentilerini yansıtır. Mimari yapılar, insanların günlük yaşamlarını kolaylaştırır ve daha konforlu hale getirir.
                
                Mimarlık, insanlığın geleceğini şekillendirir. Mimari tasarımlar, insanların çevreleriyle olan ilişkisini belirler. Sürdürülebilir ve çevre dostu mimari tasarımlar, insanlığın geleceğini korumaya yardımcı olur.
                
                Mimarlık, bir bilim ve sanattır. Mimari tasarımlar, hem estetik hem de işlevsel olmalıdır. Mimarların, yapıların hem güzel hem de kullanışlı olmasını sağlamaları gerekir.
                
                Mimarlık, bir toplum hizmetidir. Mimari yapılar, insanların yaşam kalitesini artırmaya yardımcı olur. Mimarların, insanların ihtiyaçlarını karşılayan ve yaşamlarını kolaylaştıran yapılar tasarlamaları gerekir.</p>
        </div>
    </div>
    <div class="col2">
        <img style="height: 300px;" src="../img/ımageAnasayfa0.jpg"/>
    </div>
</section>

<section class="ContentAndFoto">
    <div class="col2">
        <img style="height: 400px;"src="../img/ımageAnasayfa2.jpg"/>
    </div>
    <div class="col2">
        <div class="TitleAndContent">
            <h2>Mimarlık ve Hayal Gücü</h2>
            <p>

                Mimarlık, insanlığın en eski ve en önemli sanat dallarından biridir. İnsanoğlunun ilk yerleşim yerlerinden günümüzün modern şehirlerine kadar mimarlık, insanlığın yaşamını şekillendiren bir unsur olmuştur. Mimarlık, sadece yapıları inşa etmekle kalmaz, aynı zamanda toplumların kültürünü, değerlerini ve yaşam biçimlerini de yansıtır.
                
                Mimarlık, hayallerimizi gerçeğe dönüştürür. Mimarların hayal gücü ve yaratıcılığı, yeni ve özgün yapılar ortaya çıkarmasına olanak tanır. Mimari tasarımlar, insanların hayallerini ve beklentilerini yansıtır. Mimari yapılar, insanların günlük yaşamlarını kolaylaştırır ve daha konforlu hale getirir.
                
                Mimarlık, insanlığın geleceğini şekillendirir. Mimari tasarımlar, insanların çevreleriyle olan ilişkisini belirler. Sürdürülebilir ve çevre dostu mimari tasarımlar, insanlığın geleceğini korumaya yardımcı olur.
                
                Mimarlık, bir bilim ve sanattır. Mimari tasarımlar, hem estetik hem de işlevsel olmalıdır. Mimarların, yapıların hem güzel hem de kullanışlı olmasını sağlamaları gerekir.
                
                Mimarlık, bir toplum hizmetidir. Mimari yapılar, insanların yaşam kalitesini artırmaya yardımcı olur. Mimarların, insanların ihtiyaçlarını karşılayan ve yaşamlarını kolaylaştıran yapılar tasarlamaları gerekir.
                
                Mimarlık ve Hayal Gücü
                
                Mimarlık, hayal gücünün sınırlarını zorlayan bir sanattır. Mimarların, hayal güçlerini kullanarak yeni ve özgün yapılar tasarlamaları gerekir. Mimari tasarımlar, insanların hayallerini ve beklentilerini yansıtır.
                
                Mimarlık tarihi, hayal gücü ve yaratıcılığın en güzel örneklerini sunar. Antik Yunan'daki Akropolis'ten, Rönesans dönemi kiliselerine, modern mimarideki ikonik yapılara kadar birçok mimari eser, insan hayal gücünün gücünü gözler önüne serer.
            </p>
        </div>
    </div>
</section>

</section>