@{
    ViewData["Title"] = "Home Page";
}
<script src="../js/blog.js"></script>

<h1 class="bloglarTitle">Bloglar</h1>
<section class="bloglarSection"> 

    <div class="container1">

        <div class="box">
          <img class="blogResim" src="../img/ımageBlog.jpg" alt="Sample Image 1">
          <p>
         <h3>Blog1</h3>
          Bu bir blog yazısıdır devamıını okumak için tıklayınız..
        </p>
          <p class="hidden hidden1">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
          <div class="blogTarih">15 kasım 2023</div>
          <button class="read-more-button read-more-button1">TAMAMINI OKU</button>
        </div>

        <div class="box">
            <img class="blogResim" src="../img/ımageBlog.jpg" alt="Sample Image 1">
            <p>
                <h3>Blog1</h3>
            Bu bir blog yazısıdır devamıını okumak için tıklayınız..
          </p>
            <p class="hidden hidden2">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
            <div class="blogTarih">15 kasım 2023</div>
            <button class="read-more-button read-more-button2">TAMAMINI OKU</button>
          </div>


        
          <div class="box">
            <img class="blogResim" src="../img/ımageBlog.jpg" alt="Sample Image 1">
            <p>
                <h3>Blog1</h3>
            Bu bir blog yazısıdır devamıını okumak için tıklayınız..
          </p>
            <p class="hidden hidden3">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
            <div class="blogTarih">15 kasım 2023</div>
            <button class="read-more-button read-more-button3">TAMAMINI OKU</button>
          </div>


       
          <div class="box">
            <img class="blogResim" src="../img/ımageBlog.jpg" alt="Sample Image 1">
            <p>
                <h3>Blog1</h3>
            Bu bir blog yazısıdır devamıını okumak için tıklayınız..
          </p>
            <p class="hidden hidden4">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
            <div class="blogTarih">15 kasım 2023</div>
            <button class="read-more-button read-more-button4">TAMAMINI OKU</button>
          </div>


       
          <div class="box">
            <img class="blogResim" src="../img/ımageBlog.jpg" alt="Sample Image 1">
            <p>
                <h3>Blog1</h3>
            Bu bir blog yazısıdır devamıını okumak için tıklayınız..
          </p>
            <p class="hidden hidden5">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
            <div class="blogTarih">15 kasım 2023</div>
            <button class="read-more-button read-more-button5">TAMAMINI OKU</button>
          </div>

      
          <div class="box">
            <img class="blogResim" src="../img/ımageBlog.jpg" alt="Sample Image 1">
            <p>
                <h3>Blog1</h3>
            Bu bir blog yazısıdır devamıını okumak için tıklayınız..
          </p>
            <p class="hidden hidden6">bu bir blog yazısının devam metnidir kapatmak için butona basınız</p>
            <div class="blogTarih">15 kasım 2023</div>
            <button class="read-more-button read-more-button6">TAMAMINI OKU</button>
          </div>


      </div>



</section>
