@{
ViewData["Title"] = "Home Page";
}
<div class="baslik">
    <h1>Projelerimiz</h1> 
</div>
<section class="projeSection">

    <div class="col2">
        <a href="https://ceoproje.com.tr/insaat-yapi/insaat-projesi-nedir-nasil-cizilir/" class="next-button learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">inşaat Projesi</span>
        </a>
    </div>

    <div class="col2">
        <a href="https://siluetyapi.com/?gclid=CjwKCAiAu9yqBhBmEiwAHTx5pyFhW3YERZy3z8QTCWto3D9gUYh-MkEhB5UtO2d70QngDBKq2a9n7xoCXLEQAvD_BwE" class="next-button learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">mimarlık Projesi</span>
        </a>
    </div>

    <div class="col2">
        <a href="https://hazanaltug.portfoliobox.net/projeler2" class="next-button learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">iç mimarlık Projesi</span>
        </a>
    </div>
</section>