 /* İLETİŞİM BUTON */

 .send-button {
    font-family: inherit;
    font-size: 20px;
    background: rgb(59, 109, 175);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    float: right;
  }
 
 
  .send-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
 
  .send-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
 
  .send-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
 
  .send-button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
 
  .send-button:hover span {
    transform: translateX(5em);
  }
 
  .send-button:active {
    transform: scale(0.95);
  }
 
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
 
    to {
      transform: translateY(-0.1em);
    }
  }
 
 
  form p {
    color: rgb(78, 124, 173);
    font-size: 35px;
  }